# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client-side/node_modules
client-side/.pnp
client-side/.pnp.js


# testing
client-side/coverage

# production
client-side/build
client-side/.firebase
client-side/.firebaserc
client-side/firebase.json
genius-server/node_modules
genius-server/.env

# misc
client-side/.DS_Store
client-side/.env.local
client-side/.env.development.local
client-side/.env.test.local
client-side/.env.production.local

client-side/npm-debug.log*
client-side/yarn-debug.log*
client-side/yarn-error.log*
